 <h1>Hola Usuario</h1>
    <a href="/auth/logout">Logout</a>
<div class="container m-auto">
    <nav class="d-flex justify-content-between">
        <div class="title">
            <h2>Productos</h2>

        </div>

        <div class="cart d-flex p-0 mt-2 gap-4 ">
           <div class="cart-container">
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCart">
       ver carrito
    </button>
</div>

             <!-- Modal -->
            <div class="modal fade" id="modalCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modalBody">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
             <button type="button" class="btn btn-info" id="cartFinal">
                comprar carrito
            </button>
        </div>
        </nav>  

<div class="container mt-5">

    <div  class="row row-cols-1 row-cols-md-2 row-cols-lg-3p-3 mb-2 ">
        {{#each products}}
        <div class="col mb-4  ">
            <div class="card h-100 bg-light">
                <div class="card-header bg-primary text-white">
                    Code: {{this.code}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-white">{{this.title}}</h5>
                    <ul class="list-unstyled">
                       
                        <li> Description: {{this.description}}</li>
                        <li> Price: ${{this.price}}</li>
                        <li> Category: {{this.category}}</li>
                        <li> Status: {{this.status}}</li>
                        <li>
                             Image: <img src="{{this.thumbnail}}" alt="{{this.title}}"
                                class="img-fluid mt-2">
                        </li>
                    </ul>
                    <div class="text-center mt-3">
                <button type="button" class="btn btn-success text-lg product" id="{{this._id}}" data-value="{{this.stock}}">Agregar al carrito</button>
            </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="container d-flex justify-content-center align-items-center gap-4 p-4">


        {{#if hasPrevPage}}
        <a class="btn btn-primary px-5" href="{{prevLink}}">prev</a>

        {{/if}}

        {{#if hasNextPage}}

        <a class="btn btn-primary px-5" href="{{nextLink}}">next</a>

        <h3>Page: {{page}}/{{totalPages}}</h3>
        {{/if}}
    </div>
</div>
</div>
<script src="js/sendCart.js"></script>
